node_modules
echo "# Nodejs-project" >> README.md
git init
git add .
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/magarbarsha/Nodejs-project.git
git push -u origin main